button.button {
  background-color: #aa72e5;
  color: black;
  border-radius: 10em;
  font-size: 18px;
  font-weight: 600;
  padding: 0.6em 1.4em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #aa72e5;
  box-shadow: 0 0 0 0 black;
}

button.button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

button.button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
